#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.custom-table-header {
  background-color: #ffff10 !important; /* Sobrescribe el estilo de Bootstrap */
  color: rgb(194, 130, 2) !important; /* Cambia el color del texto */
}

@keyframes spinner {
  0% { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

.spinner {
  border: 4px solid rgba(0, 0, 0, 0.1);
  border-left-color: #0061b6;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spinner 1s linear infinite;
  margin: 0 auto;
}
.spinner2 {
  border: 4px solid rgb(255, 255, 255);
  border-left-color: #000000;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  animation: spinner 1s linear infinite;
  margin: 0 auto; 
}
.custom-button {
  background-color: #0061b6; /* Fondo azul oscuro */
  color: #ffffff;            /* Texto blanco */   /* Borde negro oscuro */
  border-width: 1.5px;
  width: 150px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.custom-button:hover {
  background-color: #add3ec; /* Fondo más claro al hacer hover */
  color: #f0f0f0;            /* Texto ligeramente más claro */     /* Mantener el borde igual */
  transform: translateY(-2px);
}

.filters-container {
  display: flex;
  flex-direction: column; /* Organizar filtros verticalmente */
  align-items: center; /* Centrar filtros horizontalmente */
  justify-content: center; /* Centrar filtros verticalmente */
  gap: 15px; /* Espaciado entre filtros */
}

.filters-row {
  display: flex;
  justify-content: center;
  gap: 10px; /* Espaciado entre columnas */
  width: 100%; /* Asegurar que ocupe todo el espacio horizontal */
  max-width: 800px; /* Limitar el ancho máximo */
}

.filters-row select,
.filters-row input {
  width: 100%; /* Hacer que los selectores sean del mismo tamaño */
  max-width: 400px; /* Limitar el ancho máximo */
  padding: 10px; /* Añadir espacio interno */
}




